body {
	background: #ccc;
}

#title, .subtitle, .post_title {
	color: blue;
}

.post_title {
	font-size: 16px;
	font-style: italic;
}

.post{
	background: #FFF;
	padding: 10px;
	border: 3px solid #000;
	margin: 10px;
}

.title_style{
	padding: 10px;
	border: 3px solid #000;
	margin : 10px;
}

.subtitle_style{
	padding: 10px;
	margin: 10px;
}

.footer_style{
	padding: 10px;
	margin: 10px;
}
